.table-month {
  width: 100%;
  height: 70vh;
}

.table-month td {
  color: rgb(32, 35, 42);
  position: relative; /* Add relative positioning to the table cells */
}

.table-month th,
.table-month td {
  padding: 5px;
  border: 1px solid rgb(221, 221, 221);
  width: 14.2857%;
}

.table-month .day {
  position: relative;
}

.table-month .day-number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.blue-dot {
  position: absolute;
  right: 1px;
  top: 30px;
  transform: translateX(-100%);
  width: 8px;
  height: 8px;
  background-color: #6EC0D8;
  border-radius: 50%;
}
