.table-month {
  width: 100%;
  height: 70vh;
}

.table-month td {
  color: rgb(32, 35, 42);
}

.table-month th,
.table-month td {
  padding: 5px;
  border: 1px solid rgb(221, 221, 221);
  width: 14.2857%;
}

.table-month .day {
  position: relative;
}

.table-month .day-number {
  position: absolute;
  right: 8px;
  top: 5px;
}


.dot {
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
  display: block; /* Display the dot when the day has a value */
}
