/* Popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  /* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
.circle-button {
  border-radius: 50%;
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #ccc; /* Set your desired neutral color */
  color: #333; /* Set your desired text color */
  border: 1px solid #999; /* Set your desired border color */
}

.circle-button:hover {
  background-color: #bbb; /* Set your desired color on hover */
  border-color: #999; /* Set the same border color as the default */
  outline: none; /* Remove the default outline on focus */
}
