.notification-container {
    position: absolute;
    top: 70px;
    right: 130px;
    width: 220px;
    height: 300px;
    overflow-y: auto; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }
  
  .notification-container p {
    font-size: 0.75em;
    margin: 0;
  }

  .notification-container h6 {
    font-weight: 700;
    margin-bottom: 1em;
  }
  
  .notification-item {
    padding: 1em 0;
    border-top: 1px solid #ccc; /* Add a bottom border to separate notifications */
  }

  .more-info-text{
    color: #0000EE;
    font-style: italic;
  }
  .more-info-text:hover{
    cursor: pointer;
  }