nav {
  background-color: rgb(15, 11, 56);
}

.navbar-logo {
  width: 15%;
}

.navbar-toggler {
  color: white;
  background-color: rgb(15, 11, 56);
  border: none;
}

.navbar .navbar-toggler-icon {
  color: white !important; 
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(110,192,216)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item .nav-link {
  color: rgba(110, 192, 216);
  font-weight: 400;
  font-size: 1rem;
}

.nav-item .nav-link:hover {
  color: white;
}

@media screen and (min-width: 768px) {
  .navbar-logo {
    width: 7vw;
  }
}

/* Desktop/Laptop Styles */
@media screen and (min-width: 992px) {
  .navbar {
    height: 80px; /* Adjust this value based on your design */
  }
}

/* Tablet Styles */
@media screen and (max-width: 991px) {
  .navbar {
    height: 60px; /* Adjust this value based on your design */
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .navbar {
    height: 50px; /* Adjust this value based on your design */
  }
}
/* fix nav bar on larger screens*/

@media screen and (min-width: 1850px) {
  .navbar-logo{
    width: 5vw;
  }

}  

  .navbar-dark{
    display: flex;
    justify-content: space-between;
    margin: 0 3em;
    padding: 1em 0;
  }

  .navbar-nav{
    display: flex;
    gap: 1.4em;
  }




