/* Common styles for all devices */
.hero {
    
  height: calc(100vh - 80px);
  background-color: #f5f5f5;
}

/* Tablet Styles */
@media screen and (max-width: 991px) {
  .hero {
    height: calc(100vh - 60px);
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .hero {
    height: calc(100vh - 50px);
  }
}
